<h2>Please Sign up</h2>
<h1  class="header__heading"><img src="../assets/gamma.png"></h1>

<form [formGroup]="form">
  <mat-form-field class="demo-full-width">
  <input

      formControlName="name"
      matInput
      placeholder="Please enter  Name"
    />
    </mat-form-field>
  <mat-form-field class="demo-full-width">
    <input
      formControlName="email_id"
      matInput
      placeholder="Pleas enter email"
    />
  </mat-form-field>
  <mat-form-field class="demo-full-width" >
    <input
    type="password"
      formControlName="password"
      matInput
      placeholder="Pleas enter your password"
    />
  </mat-form-field>
  <button mat-raised-button mat-stroked-button type="button" color="primary" (click)="signUp()" [disabled]="form.invalid" >
    Sign up
  </button>
</form>
<h1>Already  have an account ,click here to login up <a routerLink="/">Login</a></h1>
