.header{
  background-image: linear-gradient( to top right, #1e3e73 19%, #27aae2 100% );
  padding-top: 10px;
    padding-bottom: 10px;
}

img {
  display: block;
  margin: auto;
}

.logo-img {
  display: block;
  margin: auto;
}

h1.header__heading {
  padding-bottom: 14px;
}
