.Rectangle-2 {
  width: 945px;
  height: 520px;
  margin: 30px 247px 0 248px;
  padding: 0 555px 0 0;
  border-radius: 2px;
  box-shadow: 0 10px 20px 0 rgba(210, 210, 210, 0.5);
  background-color: #ffffff;
}
.Rectangle-3 {
  width: 390px;
  height: 520px;
  padding: 50px 69px 51px;
  background-color: #ffffff;

}

.Asset-23x {
  width: 720px;
  height: 424px;
  margin: 93px 209px 33px 511px;
  object-fit: contain;

}
