<div >
  <h1  class="header__heading"><img src="../assets/gamma.png"></h1>
<h2>Please Login</h2>
<div class="row">
  <div class="col-md-6">
<form [formGroup]="form">
  <mat-form-field class="demo-full-width">
    <input
      formControlName="email_id"
      matInput
      placeholder="Pleas enter email"
    />
  </mat-form-field>
  <br/>
  <mat-form-field class="demo-full-width" >
    <input
    type="password"
      formControlName="password"
      matInput
      placeholder="Pleas enter your password"
    />
  </mat-form-field>
  <br/>
  <button class="button-class" mat-raised-button mat-stroked-button type="button" color="primary" (click)="signUp()" [disabled]="form.invalid" >
    SIGN UP
  </button>
</form>
</div>
<div class="col-md-6">
  <img src="../../assets/main.png">
</div>
</div>
<!-- <span class="Asset-23x">
<img src="../../assets/main.png">
</span> -->
</div>
<h1>Don't i have an account ,click here to sign up <a routerLink="sign-up">Sign up</a></h1>
