<h1  class="header__heading">Gamma Rays</h1>
<router-outlet></router-outlet>
<!-- <ng-container *ngIf="!loader;else showLoader">
<ng-template>
  <div class="drink-search__message" >
    <p>{{selectedFilter ==2?'Nothing found.Please a category':selectedFilter ==3?'Nothing found.Please select an Ingredient':'No results found' }}</p>
  </div>
</ng-template>
</ng-container> -->
<!-- <ng-template #showLoader>
<mat-progress-spinner *ngIf="loader"  mode="indeterminate"></mat-progress-spinner>
</ng-template> -->
